.Channel {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 10rem;
    margin: 0px;
}

.list-group{
    text-align: center;
}

.Channel:hover {
    background-color: rgba(255, 255, 255, 0.46);
    color: #fff;
    border-radius: 20px;
    cursor:pointer;
}

