.ChatNav {
    justify-content: space-between;
    display:flex;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 40px;
    align-items: center;
    margin: 10px 20px 0px 20px;
}

.Logo {
    display: flex;
    max-width: 64px;
    /* width: 100%; */
    /* margin-left: 25px; */
    ;
}

.UserAvatar{
    margin-right: 25px;
}

.AccountCircleIcon {
    min-width: 50px;
    min-height: 50px;
    /* margin-right: 25px; */
}

.DropdownIcon {
    background-color: transparent; 
}

.btn-primary {
    background-color: transparent;
    border-color: transparent;
    border: none;
}

.btn-primary:hover {
    background-color: transparent;
    border: none;
    
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    padding: none;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}

.dropdown-toggle::after {
    display: none;
}
.DropdownToggle.btn-primary.dropdown-toggle:focus,
.show>.DropdownToggle.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
    background-color: transparent;
}
