.login__page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(#19059d, #c202d3);
    animation: fadeIn 2s;
    
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


a {
    text-decoration:none;
    color:#fff;
    font-size: .90rem;
}

a:hover {
    color: #c202d3;
    text-decoration: none;
}

.login__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 0px 20px;
    
}

.login__header > div:hover {
    text-decoration: none;
}


.register__btn {
    text-decoration: none;
    background-color: #19059d00;
    color: #fff;
    border-radius: 10px;
    min-height: 40px;
    min-width: 100%;
    border: none;
}

.register__btn:hover{
    color: #c202d3;
}

.login__body{
    display:flex;
    justify-content: space-around;
    
}


.login__picture {
    flex: 0.3;
}


.login__button {
    background-color: #19059daa;
    min-height: 40px;
    /* min-width: 250px; */
    max-width: 350px;
    border-radius: 10px;
    color: #fff;
}

.login__button:hover {
    color:#c202d3;
}

.login__form-control {
    min-height: 40px;
    display: flex;
    /* min-width: 250px; */
    max-width: 350px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.login__form-control::selection {
    color: #fff;
    background-color: #c202d3;
}

.login__form-control:focus{
    outline: 2px solid #19059daa;
}

.modal__header{
    background-image: linear-gradient(#19059d, #c202d3);
    display: flex;
    flex-direction: column;
    color: #fff;
    
}

.modal__body{
    background-image: linear-gradient(#19059d, #c202d3);
}

.modal__footer {
    background-image: linear-gradient(#19059d, #c202d3);
}

.modal__button{
    background-color: #19059d;
}

