.Main {
    min-height: 100vh;
    flex: 0.4;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}

.MainDiv {
    display: flex;
    align-content:space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.Header {
    font-size: 32px;
}