.Main {
    /* flex: 0.4; */
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
     padding: 0px;
}

.MainDiv {
    display: flex;
    align-content:space-between;
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
   
}

.Header {
    font-size: 32px;
}
.FeedBody {
    min-height: auto;
}