.message {
    background-color: rgba(255, 255, 255, 0.357);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 20rem;
    /* min-width: 15rem; */
    /* min-height: 7rem; */

    border-width: 3px;
    border-color: #fff;
    text-align: left;
}

.messages {
    display: flex;
    flex-direction: column;
    flex: 0.4;
    padding-left: 25px;
    padding-right: 25px;
    max-height: 100%;
}

.message__outgoing {
    align-self: flex-end;
}

.message__avatar{
    margin-right: 10px;
}

.message__header {
    display:flex;
}

.message__name {
    margin: 3px;
}

.message__time {
    margin: 3px;
}

.Avatar {
    min-width: 50px;
    min-height: 50px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-self: center;

}