.register__page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(#19059d, #c202d3);
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.form-row {
    max-width: 80%;
    
}

.form-control::selection {
    color: #fff;
    background-color: #c202d3;
}

.input__label{
    min-height: 40px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 10px;
    
}

.register__button {
    background-color: #19059daa;
    color: #fff;
    min-height: 40px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 10px;
}

.register__button:hover{
    color: #c202d3;
}

.Sign__In__link:hover {
    color: #19059d
}

.Dropdown {
    background-color: #19059daa;
    color: #fff;
    min-height: 40px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 10px;
}

.Dropdown:hover{
    color: #c202d3;
    background-color: #19059daa;
}


