.App {
  text-align: center;
  margin: 0;
  justify-content: space-evenly;
  background-color: black;
  color:#fff;
  padding: 10px;
  height: 100vh;
}



.Body {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 145px);
  padding-top: 10px;
}
