.App {
  text-align: center;
  margin: 0;
  justify-content: space-evenly;
  background-color: black;
  color:#fff;
  padding: 10px;
  height: 100vh;
  overflow: auto;
  


}



.Body {
  display: flex;
  justify-content: center;
  height: calc(100vh - 92px);
  padding-top: 10px;
   

}
